{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}
{% block META_description %}Сброс пароля{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <section id="vhod">
<div class="container">
        <div class="row">
 <div class="col-md-6 offset-md-3">
 <div class="form-container">
 <div class="form-icon"><i class="fa fa-envelope-o"></i></div>


<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        {{ form|crispy }}
    <input type="submit" class="btn btn-danger" value="Сброс пароля" />
</form>
   </div>
</div>
</div>
</div>
    </section>
{% endblock %}