{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}
{% block META_description %}Сброс пароля{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <section id="vhod">
<div class="container">
<div class="row">
 <div class="col-md-6 offset-md-3">
 <div class="form-container">
 <div class="form-icon"><i class="fa fa-unlock-alt"></i></div>


    {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}
           <input type="submit" class="btn btn-danger" value="Изменить пароль" />
        </form>
    {% else %}
        <h1>Сбой сброса пароля</h1>
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
    </div>
</div>
</div>
</div>
    </section>
{% endblock %}