
{% extends 'base.html' %}
{% load static %}
{% block title %}О НАС{% endblock %}

{% block META_description %}О НАС{% endblock %}


{% block zagblock %}
<style>
      .zagblock {
    height: auto;
    padding-bottom:60px;
}
.plus2{
    background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(93, 5, 53, 0.12);
border-radius: 20px;
padding: 30px 30px 10px;

}
.rows21 .plus2 {
    max-width: 23%;
    margin-bottom: 25px;
    width: 23%;
}
.rows21{
    margin-top:-30px;
}
  </style>
<div class="zagblock">
          <div class="container">
          <h1>О нас</h1>
          <h2></h2>
          <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.9948 22.9895C16.8834 22.9895 16.7758 22.9655 16.6718 22.9175C16.5678 22.8688 16.4671 22.8028 16.3698 22.7195L10.9328 17.2815C10.7661 17.1148 10.6861 16.9102 10.6928 16.6675C10.6994 16.4242 10.7861 16.2192 10.9528 16.0525C11.1194 15.8858 11.3208 15.8025 11.5568 15.8025C11.7934 15.8025 11.9951 15.8858 12.1618 16.0525L16.1198 20.0105V10.8855C16.1198 10.6495 16.2064 10.4448 16.3798 10.2715C16.5538 10.0975 16.7588 10.0105 16.9948 10.0105C17.2308 10.0105 17.4358 10.0975 17.6098 10.2715C17.7831 10.4448 17.8698 10.6495 17.8698 10.8855V20.0105L21.8278 16.0525C21.9944 15.8858 22.1994 15.8025 22.4428 15.8025C22.6854 15.8025 22.8901 15.8858 23.0568 16.0525C23.2234 16.2192 23.3068 16.4242 23.3068 16.6675C23.3068 16.9102 23.2234 17.1148 23.0568 17.2815L17.6198 22.7195C17.5364 22.8028 17.4391 22.8688 17.3278 22.9175C17.2171 22.9655 17.1061 22.9895 16.9948 22.9895Z" fill="#E60A80"></path>
<rect x="1" y="0.5" width="32" height="32" rx="16" stroke="#E6007E"></rect>
</svg>




</div>
      </div>

{% endblock zagblock %}


{% block content %}
<section id="pludtq">
      <div class="container">
          <div class="rows21">
                 <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
15
</span>
<p>Более 15 лет успешной работы на рынке недвижимости</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
500
</span>
<p>Более 500 успешных сделок</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
100
</span>
<p>Более 100 постоянно обновляющихся объектов недвижимости</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
1000
</span>
<p>Около 1000 лояльных клиентов</p>
                      </div>
                   
                  </div>
      </div>
  </section>

<section id="contentabout" class="pd40">
    <div class="imglop"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="zagh2">О компании</h2>
            </div>
            <div class="col-md-12">
                  {{ web_content.text_onas|safe }}
<a class="fl" href="{% static 'theme/video/fqf.mp4' %}" target="_blank"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 0.75C5.79 0.75 0.75 5.79 0.75 12C0.75 18.21 5.79 23.25 12 23.25C18.21 23.25 23.25 18.21 23.25 12C23.25 5.79 18.21 0.75 12 0.75ZM16.3125 12.69L10.575 16.515C10.1025 16.83 9.465 16.4925 9.465 15.9225V8.0775C9.465 7.5075 10.1025 7.17 10.575 7.485L16.3125 11.31C16.8 11.64 16.8 12.36 16.3125 12.69Z" fill="#E6007E"></path>
</svg>
 Посмотреть видео о компании</a>
            </div>
        </div>
        
        
        
    </div>
    <div class="container pdtop">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'theme/img/Group 1723.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                 <h2 class="zagh2">миссия</h2>
                 <p>Когда вы обращаетесь в компанию "Территория недвижимости FQF", вы можете быть уверены,
что получите индивидуальное внимание, профессиональную помощь и надежное партнерство на
каждом шагу. Мы стремимся создать долгосрочные отношения с нашими клиентами, основанные
на взаимном доверии и успехе.</p>

<p>Позвольте нам стать вашим проводником в мире недвижимости и помочь вам обрести свой
идеальный дом или успешное коммерческое пространство. Обратитесь в "Территорию
недвижимости FQF", чтобы сделать вашу мечту о недвижимости реальностью.</p>
            </div>
        </div>
    </div>
</section>

<section id="tab" class="pd40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link " id="nav-command-tab" data-bs-toggle="tab" data-bs-target="#nav-command" type="button" role="tab" aria-controls="nav-command" aria-selected="false" tabindex="-1">команда</button>
    <button class="nav-link active" id="nav-histori-tab" data-bs-toggle="tab" data-bs-target="#nav-histori" type="button" role="tab" aria-controls="nav-histori" aria-selected="true">история</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact2" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" tabindex="-1">ответственность</button>
    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" tabindex="-1">кодекс этики</button>
     <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" tabindex="-1">Карьера в fQF</button>
    <button class="nav-link" id="nav-disabled2-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled2" type="button" role="tab" aria-controls="nav-disabled2" aria-selected="false" tabindex="-1">наши приоритеты</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade " id="nav-command" role="tabpanel" aria-labelledby="nav-command-tab" tabindex="0"><div class="cont">
       <div class="row">
          <div class="col-md-12">
         
             
          <p>    Наша команда - это группа высококвалифицированных профессионалов, которые
специализируются на оказании услуг по покупке, продаже и аренде недвижимости и
инвестиции в недвижимость.</p>
    <p>  Наша команда состоит из опытных агентов, юристов, экспертов по оценке недвижимости
и менеджеров по развитию бизнеса. Мы объединяем свои знания, навыки и опыт, чтобы
предоставить нашим клиентам полный спектр услуг в сфере недвижимости и
юриспруденции.</p>
    <p>  Наши агенты обладают глубокими знаниями рынка недвижимости и отличным
пониманием потребностей клиентов.</p>
    <p>  Юристы в нашей команде обеспечивают правовую поддержку и консультации по всем
вопросам, связанным с недвижимостью.</p>
    <p>  Наши эксперты по оценке недвижимости проводят профессиональную оценку рыночной
стоимости объектов недвижимости.</p>

    <p>  Менеджеры по развитию бизнеса занимаются стратегическим планированием и развитием
компании недвижимости.</p>
    <p>  Мы гордимся своей командой и уверены в ее способности предоставлять
высококачественные услуги на рынке недвижимости. Наша цель - помочь нашим
клиентам достичь их целей в сфере недвижимости и создать долгосрочные партнерские
отношения.</p>
             
               </div>
           <!--div class="col-md-12">
            <div class="rows">
                <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                  <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                    <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                      <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                        <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                          <a href=""><img src="{% static 'theme/img/image 17.png' %}" class="img-fluid" alt=""></a>
                            <a href="">Вся команда FQF <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.7874 3.87494C7.7874 3.94174 7.773 4.00634 7.7442 4.06874C7.715 4.13114 7.6754 4.19154 7.6254 4.24994L4.3626 7.51214C4.2626 7.61214 4.1398 7.66014 3.9942 7.65614C3.8482 7.65214 3.7252 7.60014 3.6252 7.50014C3.5252 7.40014 3.4752 7.27934 3.4752 7.13774C3.4752 6.99574 3.5252 6.87474 3.6252 6.77474L6 4.39994L0.525 4.39994C0.3834 4.39994 0.2606 4.34794 0.1566 4.24394C0.0521999 4.13954 -1.59102e-07 4.01654 -1.65292e-07 3.87494C-1.71481e-07 3.73334 0.0521999 3.61034 0.1566 3.50594C0.2606 3.40194 0.3834 3.34994 0.525 3.34994L6 3.34994L3.6252 0.975141C3.5252 0.875141 3.4752 0.752142 3.4752 0.606142C3.4752 0.460542 3.5252 0.337742 3.6252 0.237742C3.7252 0.137741 3.8482 0.0877417 3.9942 0.0877417C4.1398 0.0877417 4.2626 0.137741 4.3626 0.237742L7.6254 3.49994C7.6754 3.54994 7.715 3.60834 7.7442 3.67514C7.773 3.74154 7.7874 3.80814 7.7874 3.87494Z" fill="#E60A80"></path>
</svg>
 </a>
            </div>
          </div -->
      </div>
      
  </div></div>
  <div class="tab-pane fade show active" id="nav-histori" role="tabpanel" aria-labelledby="nav-histori-tab" tabindex="0"><div class="cont">
      <div class="row">
          <div class="col-md-6">
              <img src="{% static 'theme/img/young-happy-couple-making-an-agreement-with-their-financial-advisor-at-home-men-are-shaking-hands 2.png' %}" class="img-fluid" alt="">
          </div>
           <div class="col-md-6">
              <h2>как всё начиналось</h2>
   <p>   Компания "Территория недвижимости FQF" начала свой путь с маленького офиса, но с
большими мечтами.</p>
  <p> С самого начала компания сосредоточилась на высоком качестве обслуживания клиентов
и индивидуальном подходе к каждому проекту. Команда компании была составлена из
талантливых и опытных специалистов, которые разделяли страсть и ценности основателя
компании.</p>
          </div>
              <div class="col-md-8">
           <p>    Благодаря основателю компании и усилиям команды, "Территория недвижимости FQF"
быстро завоевала доверие и признание на рынке недвижимости. Она начала проводить
успешные сделки с продажей жилой и коммерческой недвижимости, а также
предоставлять услуги по управлению недвижимостью.</p>
<p>  Сегодня "Территория недвижимости FQF" является одной из ведущих компаний в отрасли
недвижимости. Она продолжает стремиться к превосходству в области обслуживания
клиентов и созданию высококачественных жилых и коммерческих объектов. История
компании "Территория недвижимости FQF" является примером того, как страсть,
преданность и целеустремленность могут привести к успеху и вдохновить других на
достижение своих мечтаний.</p>
          </div>
           <div class="col-md-4">
              <img src="{% static 'theme/img/1/young-happy-couple-making-an-agreement-with-their-financial-advisor-at-home-men-are-shaking-hands 2 (1).png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-12">
              <hr>
          </div>
             <div class="col-md-12">
            <div class="rows">
                <a href=""><img src="{% static 'theme/img/irina2.jpg' %}" class="img-fluid" alt=""></a>
                 
                 <p>Руководитель компании "Территория недвижимости FQF" 
Нигматуллина Ирина Викторовна</p>
            </div>
          </div>
      </div>
  </div></div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
    <div class="cont">
      <div class="row">
          <div class="col-md-6">
          <p>  Есть открытые вакансии юриста, менеджера по работе с клиентами и менеджера по
продажам.</p>
  <p>  По всем вопросам звоните секретарю компании:</p>
  <p><a href="tel:+79296415870"> +7 (929) 641-58-70</a>   (Светлана)</p>

          </div>
          <div class="col-md-6">
              <img src="{% static 'theme/img/young-happy-couple-making-an-agreement-with-their-financial-advisor-at-home-men-are-shaking-hands 2 (1).png' %}" class="img-fluid" alt="">
          </div>
      </div>
      </div>
      
  </div>
  
    <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
    <div class="cont">
      <div class="row">
          <div class="col-md-6">
              <p>
         Компания «Территория недвижимости FQF» несет ответственность за выполнение своих обязательств в рамках заключенных с клиентами договоров или соглашений. Это включает в себя следующие основные обязанности и ответственности:
</p> 
<ol>
    <liПредоставление достоверной информации: компания должна предоставлять клиентам точную и полную информацию о недвижимости, включая ее состояние, характеристики, стоимость, юридический статус и другие существенные факторы.></li>
     <li> Защита интересов клиента: компания должна действовать в наилучших интересах клиента и представлять его интересы при проведении сделок с недвижимостью. Это означает, что агентство должно быть профессиональным, компетентным и беспристрастным по отношению к клиенту.</li>
      <li>Соблюдение правовых требований: компания должна действовать в соответствии с применимыми законодательными нормами и правилами, касающимися сделок с недвижимостью. Оно должно быть ознакомлено с местными нормами и требованиями, связанными с покупкой, продажей или арендой недвижимости.</li>
       <li>Конфиденциальность: компания должна обеспечивать конфиденциальность информации, полученной от клиента в процессе сотрудничества. Это включает личные данные клиента, финансовую информацию и другую чувствительную информацию.</li>
        <li>Профессионализм: компания должна демонстрировать высокий уровень профессионализма в своей работе. Это означает своевременное выполнение обязательств, эффективную коммуникацию с клиентом, честность и ответственность во всех аспектах сотрудничества.</li>
</ol>
    <p>
В случае нарушения данных обязанностей агентство недвижимости может нести юридическую ответственность перед клиентом, которая может включать компенсацию убытков, штрафы или другие санкции в соответствии с применимым законодательством.
</p> 
          </div>
          <div class="col-md-6">
              <img src="{% static 'theme/img/young-happy-couple-making-an-agreement-with-their-financial-advisor-at-home-men-are-shaking-hands 2 (1).png' %}" class="img-fluid" alt="">
          </div>
      </div>
      </div>
      
  </div>
  
  <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
      
       <div class="cont">
      <div class="row">
          <div class="col-md-6">
             
             <h2> Принципы кодекса этики компании «Территория недвижимости FQF»:</h2>
<ol>
    <li>Честность и интегритет: компания "Территория недвижимости FQF" ставит
наивысший приоритет на честность и неприкосновенность в своей деятельности.
Сотрудники должны быть честными, объективными и честно представлять
информацию клиентам.</li>
    <li>Профессионализм: компания стремится поддерживать высокий профессиональный
уровень во всех аспектах своей деятельности. Это включает глубокое понимание
рынка недвижимости, предоставление точной и актуальной информации клиентам,
профессиональное поведение и качественное выполнение своих обязанностей.</li>
    <li>Конфиденциальность: сотрудники "Территории недвижимости FQF" должны
соблюдать строгие нормы конфиденциальности в отношении личной информации
клиентов и деловых секретов компании.</li>
    <li>Конфликт интересов: сотрудники должны избегать ситуаций, где их личные
интересы могут противоречить интересам клиентов или компании. Они должны
действовать в лучших интересах своих клиентов, предоставлять объективные
рекомендации и избегать возможности получения неправомерных выгод.</li>
    <li>Соблюдение законов и нормативных требований: компания "Территория
недвижимости FQF" придерживается всех соответствующих законов, правил и
нормативных требований, связанных с недвижимостью и профессиональной
деятельностью.</li>
</ol>
               </div>
          <div class="col-md-6">
             <div class="rows21">
                      <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
500 
</span>
<p>Более 500 успешных сделок</p>
                      </div>
                       <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
100 
</span>
<p>Более 100 постоянно обновляющихся объектов недвижимости </p>
                      </div>
                       <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
1000 
</span>
<p>Около 1000 лояльных клиентов </p>
                      </div>
                      
                  </div>
          </div>
      </div>
      </div>
      
  </div>
  
  
    <div class="tab-pane fade" id="nav-disabled2" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
      
       <div class="cont">
      <div class="row">
          <div class="col-md-6">
             
             <h2> Приоритеты компании "Территория недвижимости FQF":</h2>
<ol>
    <li> Удовлетворение клиентов: компания "Территория недвижимости FQF" придает
большое значение удовлетворению и потребностям своих клиентов. Она
стремиться предоставлять высококачественные услуги, эффективное обслуживание
и индивидуальный подход к каждому клиенту.</li>
<li>Профессионализм и экспертиза: компания делает акцент на профессиональном
подходе к работе и высокой экспертизе в сфере недвижимости. Это включает
глубокое знание рынка недвижимости, тщательный анализ данных, точные оценки
имущества и профессиональное консультирование.</li>
<li>Честность и прозрачность: компания придерживается принципов честности,
открытости и прозрачности в своей деятельности. Это включает предоставление
точной информации о недвижимости, раскрытие релевантных фактов и условий
сделки клиентам, а также открытую коммуникацию.</li>
<li>Инновации и технологии: компания "Территория недвижимости FQF" стремиться
быть на переднем крае инноваций и использовать новейшие технологии в своей
деятельности. Это включает использование цифровых платформ, онлайн-
инструментов для поиска и покупки недвижимости, а также автоматизацию
процессов для улучшения эффективности.</li>
<li>Долгосрочные отношения: компания ставит акцент на развитие долгосрочных
отношений с клиентами, основанных на доверии, надежности и взаимном
выгодном сотрудничестве. Она стремиться создать стабильные и долгосрочные
связи с клиентами, чтобы обеспечить их удовлетворенность и повторные сделки.</li>
</ol>
             
      

               </div>
          <div class="col-md-6">
             <div class="rows21">
                      <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
500 
</span>
<p>Более 500 успешных сделок</p>
                      </div>
                       <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
100 
</span>
<p>Более 100 постоянно обновляющихся объектов недвижимости </p>
                      </div>
                       <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
1000 
</span>
<p>Около 1000 лояльных клиентов </p>
                      </div>
                      
                  </div>
          </div>
      </div>
      </div>
      
  </div>
</div>
            </div>
        </div>
    </div>
</section>

<section id="forma" class="pd40">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="formbg2">
                     <img src="{% static 'theme/img/arrow_downward.png' %}" class="img-fluid imgstr" alt="">
                     <div class="stryfon"></div>
                 
                   <div id="form1">
                       
                             <div class="porty"> 
         <div id="klj">
                        <h2>бесплатная консультация</h2>
                         <p>Отправьте заявку на бесплатную консультацию. Мы ответим на все интересующие вас вопросы.</p>
                         <div class="str21"></div>
                    

<form method="POST" id="fr1">
         {% csrf_token %}

     {{ form.subject }}
    {{ form.user }}
     {{ form.phone }}
    <button type="submit" class="btn1">Отправить <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.25 10.875V1.12498C0.25 0.849981 0.3625 0.640481 0.5875 0.496481C0.8125 0.352981 1.05 0.33123 1.3 0.43123L12.85 5.30623C13.1625 5.44373 13.3187 5.67498 13.3187 5.99998C13.3187 6.32498 13.1625 6.55623 12.85 6.69373L1.3 11.5687C1.05 11.6687 0.8125 11.6467 0.5875 11.5027C0.3625 11.3592 0.25 11.15 0.25 10.875ZM1.75 9.74998L10.6375 5.99998L1.75 2.24998V4.87498L6.25 5.99998L1.75 7.12498V9.74998Z" fill="white"></path>
</svg>
</button>
</form>


                     <p class="pdj">Отправляя заявку, вы соглащаетесь с <a href="{% url 'politika' %}" target="_blank">политикой конфиденциальности сайта</a></p>
                      </div>    
                     </div>

<div class="good" id="good2">
    <img src="{% static 'theme/img/1/Group1818.png' %}" class="goodimg" alt="">
     <h4>ВАША ЗАЯВКА ПРИНЯТА!</h4>

        <div class="stre"></div>
        <p class="p15">В ближайшее время с вами свяжется наш сотрудник для уточнения всех деталей!</p>
        <p class="p15 mt40">С уважением, команда “Территории Недвижимости FQF”</p>
</div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
<script type="text/javascript">
    $(document).ready(function(){
    $("#fr1").submit(function(e){
      e.preventDefault();
      var $form = $(this);
      $(".btn1").prop('disabled', true);
      $(".btn1").text('Отправляем...');
      var serializedData = $form.serialize();
      var $res_message = $(".porty");
      var $res_message2 = $("#good2");
      
      $.ajax({
          url: '/ajax/',
          type: "POST",
          data: serializedData,
          dataType: 'json',

          success: function (data) {
            if (data.error) {
                  $res_message.text(data.msg);
                  $res_message.show();
            }else{
              $res_message.hide();
              $res_message2.show();
            }
          }
        });
    });
  });
  </script>

{% endblock content %}