
{% extends 'base.html' %}
{% load static %}
{% block title %}Спецпредложения{% endblock %}

{% block META_description %}Спецпредложения{% endblock %}

{% block bread %}
<section id="bread">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
  <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList"><li><span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
 <a title="Главная" itemprop="item" href="/"><span itemprop="name">Главная</span><meta itemprop="position" content="0"></a>
 </span></li><li><span class="sep">-</span></li><li><span itemprop="item" itemscope="" itemtype="http://schema.org/ListItem">
 <span itemprop="name">Спецпредложения</span><meta itemprop="position" content="2">
 </span></li></ol>
 </div>
 </div>
 </div>
    </section>

{% endblock bread %}


{% block content %}
<section id="sp-main-body">
     <div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="sp-column ">
                <div id="system-message-container">
                </div>

                <div id="sp-page-builder" class="sp-page-builder  page-13">


                  <article class="item item-page" itemscope="" itemtype="http://schema.org/Article">
                        <meta itemprop="inLanguage" content="ru-RU">



                        <div class="entry-header">

                        <section id="section-id-1536320541178" class="section ">
                            <div class="row-container">
                                <div class="row">
                                    <div class="col-md-4" id="column-wrap-id-1536320541175">
                                        <div id="column-id-1536320541175" class="column">
                                            <div class="column-addons">
                                                <div id="addon-1536320541181" class="clearfix">
                                                    <div class="addon addon-single-image text-center ">
                                                        <div class="addon-content">
                                                            <div class="addon-single-image-container"><img class="img-responsive" src="{% static 'theme/img/alfa.png' %}" alt="Image" title=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8" id="column-wrap-id-1536320541176">
                                        <div id="column-id-1536320541176" class="column">
                                            <div class="column-addons">
                                                <div id="addon-1536320541184" class="clearfix">
                                                    <div class="addon addon-text-block 0  ">
                                                        <div class="addon-content">
                                                            <h2>Все самое дорогое - под защитой Альфастрахования</h2>
                                                            <p>Друзья!</p>
                                                            <p>Всем нашим клиентам мы дарим купоны на персональные скидки от страховой группы «АльфаСтрахование».</p>
                                                            <p>Система лояльности доступна по следующим позициям:</p>
                                                            <ul>
                                                                <li>КАСКО -15%</li>
                                                                <li>Страхование имущества -10%</li>
                                                                <li>Страхование от несчастных случаев -10%</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="section-id-1536320780480" class="section ">
                            <div class="row-container">
                                <div class="row">
                                    <div class="col-md-12" id="column-wrap-id-1536320780479">
                                        <div id="column-id-1536320780479" class="column">
                                            <div class="column-addons">
                                                <div id="addon-1536320541187" class="clearfix">
                                                    <div class="addon addon-text-block 0  ">
                                                        <div class="addon-content">
                                                           <h2><strong>О компании:</strong></h2>
<p>Страховая группа «АльфаСтрахование» — одна из&nbsp;крупнейших российских страховых компаний с&nbsp;универсальным портфелем услуг, включающим как комплексные программы защиты интересов бизнеса, так и&nbsp;широкий спектр страховых продуктов для частных лиц. Компания предлагает более 100&nbsp;продуктов, включая продукты по&nbsp;страхованию жизни.</p>
<p>«АльфаСтрахование» широко представлена в&nbsp;регионах России: на&nbsp;территории&nbsp;РФ страховую деятельность осуществляют более 270 региональных представительств. Услугами группы пользуются более 24&nbsp;млн частных клиентов и&nbsp;компаний по&nbsp;всей России.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
        
                     </article>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}