
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Юридические услуги
{% endblock %}

{% block META_description %}
Юридические услуги
{% endblock %}




{% block zagblock %}
<style>.zagblock {
    height: auto;
    padding-bottom: 60px;
}</style>
<div class="zagblock">
          <div class="container">
          <h1>{{ h1 }}</h1>
          <h2>ГАРАНТИРОВАННАЯ БЕЗОПАСНОСТЬ И ПРОЗРАЧНОСТЬ УСЛУГ</h2>
          <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.9948 22.9895C16.8834 22.9895 16.7758 22.9655 16.6718 22.9175C16.5678 22.8688 16.4671 22.8028 16.3698 22.7195L10.9328 17.2815C10.7661 17.1148 10.6861 16.9102 10.6928 16.6675C10.6994 16.4242 10.7861 16.2192 10.9528 16.0525C11.1194 15.8858 11.3208 15.8025 11.5568 15.8025C11.7934 15.8025 11.9951 15.8858 12.1618 16.0525L16.1198 20.0105V10.8855C16.1198 10.6495 16.2064 10.4448 16.3798 10.2715C16.5538 10.0975 16.7588 10.0105 16.9948 10.0105C17.2308 10.0105 17.4358 10.0975 17.6098 10.2715C17.7831 10.4448 17.8698 10.6495 17.8698 10.8855V20.0105L21.8278 16.0525C21.9944 15.8858 22.1994 15.8025 22.4428 15.8025C22.6854 15.8025 22.8901 15.8858 23.0568 16.0525C23.2234 16.2192 23.3068 16.4242 23.3068 16.6675C23.3068 16.9102 23.2234 17.1148 23.0568 17.2815L17.6198 22.7195C17.5364 22.8028 17.4391 22.8688 17.3278 22.9175C17.2171 22.9655 17.1061 22.9895 16.9948 22.9895Z" fill="#E60A80"></path>
<rect x="1" y="0.5" width="32" height="32" rx="16" stroke="#E6007E"></rect>
</svg>




</div>
      </div>

{% endblock zagblock %}

{% block content %}
<style>
      .zagblock {
    height: auto;
    padding-bottom:60px;
}
.plus2{
    background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(93, 5, 53, 0.12);
border-radius: 20px;
padding: 30px 30px 10px;

}
.rows21 .plus2 {
    max-width: 23%;
    margin-bottom: 25px;
    width: 23%;
}
.rows21{
    margin-top:-30px;
}
  </style>
<section id="pludtq">
      <div class="container">
          <div class="rows21">
                       <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
ЛУЧШИЕ агенты
</span>
<p>отлично знают специфику работы с разными объектами недвижимости</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
огромный выбор
</span>
<p>в нашем каталоге найдется все от квартиры до коммерческого помещения</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
качественный результат
</span>
<p>каждому клиенту гарантирован ответственный подход</p>
                      </div>   <div class="plus2">
                          <span class="colzvezd"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.03834 0.609965C9.20914 0.199319 9.79086 0.199318 9.96166 0.609964L12.16 5.89541C12.232 6.06853 12.3948 6.18682 12.5817 6.2018L18.2878 6.65925C18.7311 6.6948 18.9109 7.24805 18.5731 7.53738L14.2257 11.2614C14.0833 11.3834 14.0211 11.5748 14.0646 11.7572L15.3928 17.3253C15.496 17.758 15.0254 18.0999 14.6458 17.8681L9.76063 14.8842C9.60062 14.7865 9.39938 14.7865 9.23937 14.8842L4.35417 17.8681C3.97462 18.0999 3.50399 17.758 3.60718 17.3253L4.9354 11.7572C4.9789 11.5748 4.91672 11.3834 4.77432 11.2614L0.426885 7.53738C0.0891163 7.24805 0.268879 6.6948 0.712206 6.65925L6.41829 6.2018C6.60519 6.18682 6.76799 6.06853 6.84 5.89541L9.03834 0.609965Z" fill="#E6007E"></path>
</svg>
просто и быстро
</span>
<p>поиск объекта и оформление документов осуществляются в минимальные сроки</p>
                      </div>
                  </div>
      </div>
  </section>
<style>
      .zagblock {
    height: auto;
    padding-bottom:60px;
}
.plus2{
    background: #FFFFFF;
box-shadow: 0px 6px 15px rgba(93, 5, 53, 0.12);
border-radius: 20px;
padding: 30px 30px 10px;

}
.rows21 .plus2 {
    max-width: 23%;
    margin-bottom: 25px;
    width: 23%;
}
.rows21{
    margin-top:-30px;
}
  </style>

<section id="content" class="pd40">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="/media/{{ web_content.image_yuruslug }}" class="img-fluid" alt="">
              </div>
              <div class="col-md-6">
                 {{ web_content.text_yuruslug|safe }}
              </div>
              <div class="col-md-12">
                  <div class="knopcentr">
                      <a href="" class="btn1 btn1lg" data-bs-toggle="modal" data-bs-target="#exampleModal12">Получить консультацию</a>
                      
          
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section id="predlozh" class="pd40 llllf">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="zagh2">Услуги для вас</h2>
                      </div>
          </div>
          
          <div class="row">
              
              
              <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="doc-tab" data-bs-toggle="tab" data-bs-target="#doc-tab-pane" type="button" role="tab" aria-controls="doc-tab-pane" aria-selected="true">популярные</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="doc1-tab" data-bs-toggle="tab" data-bs-target="#doc1-tab-pane" type="button" role="tab" aria-controls="doc1-tab-pane" aria-selected="false" tabindex="-1">ОФормление документов</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="doc2-tab" data-bs-toggle="tab" data-bs-target="#doc2-tab-pane" type="button" role="tab" aria-controls="doc2-tab-pane" aria-selected="false" tabindex="-1">договоры</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="doc3-tab" data-bs-toggle="tab" data-bs-target="#doc3-tab-pane" type="button" role="tab" aria-controls="doc3-tab-pane" aria-selected="false" tabindex="-1">сопровождение сделок</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="doc4-tab" data-bs-toggle="tab" data-bs-target="#doc4-tab-pane" type="button" role="tab" aria-controls="doc4-tab-pane" aria-selected="false" tabindex="-1">оформление наследства</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="doc-tab-pane" role="tabpanel" aria-labelledby="doc-tab" tabindex="0">  
          <div class="row"> 


                     
  

          {% for i in usl_best %}

   {% include "parts/usluga.html" with  modalkey="best" %}    


          {% endfor %}
                     
                     
                     
                    
                         
                         
                         
         
  </div>
</div>
  
  <div class="tab-pane fade" id="doc1-tab-pane" role="tabpanel" aria-labelledby="doc1-tab" tabindex="0"> 

   <div class="row">  
        {% for i in usl_ofrdoc %}
        
   {% include "parts/usluga.html" with modalkey="ofrdoc" %}    
                         
                 {% endfor %}           
                         
         
  </div></div>
  
  <div class="tab-pane fade" id="doc2-tab-pane" role="tabpanel" aria-labelledby="doc2-tab" tabindex="0">

   <div class="row"> 

        {% for i in usl_dogovor %}
   {% include "parts/usluga.html" with modalkey="dogovor" %}    
                         
                 {% endfor %}       
                         
         
  </div></div>
  
  <div class="tab-pane fade" id="doc3-tab-pane" role="tabpanel" aria-labelledby="doc3-tab" tabindex="0"> 
    <div class="row"> 


        {% for i in usl_soprsdel %}
   {% include "parts/usluga.html" with modalkey="soprsdel" %}    
                         
                 {% endfor %}  
                         
                         
                         
         
  </div></div>
  
    <div class="tab-pane fade" id="doc4-tab-pane" role="tabpanel" aria-labelledby="doc4-tab" tabindex="0">

      <div class="row">  


        {% for i in usl_oformldoc %}
   {% include "parts/usluga.html" with  modalkey="oformldoc"  %}    
                         
                 {% endfor %}  
                         
                  
                         
                         
                         
         
  </div></div>
</div>
              
              
          </div>
      </div>
  </section>

          {% include "parts/kakproishodit.html" %}

  <section id="forma" class="pd40">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="formbg">
                     <img src="{% static 'theme/img/arrow_downward.png' %}" class="img-fluid imgstr" alt="">
                   <div id="form1">
              
                     
                             <div class="porty"> 
         <div id="klj">
                        <h2>бесплатная консультация</h2>
                         <p>Отправьте заявку на бесплатную консультацию. Мы ответим на все интересующие вас вопросы.</p>
                         <div class="str21"></div>
                        
                  <form method="POST" id="fr1">
         {% csrf_token %}

     {{ form.subject }}
    {{ form.user }}
     {{ form.phone }}
    <button type="submit" class="btn1">Отправить <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.25 10.875V1.12498C0.25 0.849981 0.3625 0.640481 0.5875 0.496481C0.8125 0.352981 1.05 0.33123 1.3 0.43123L12.85 5.30623C13.1625 5.44373 13.3187 5.67498 13.3187 5.99998C13.3187 6.32498 13.1625 6.55623 12.85 6.69373L1.3 11.5687C1.05 11.6687 0.8125 11.6467 0.5875 11.5027C0.3625 11.3592 0.25 11.15 0.25 10.875ZM1.75 9.74998L10.6375 5.99998L1.75 2.24998V4.87498L6.25 5.99998L1.75 7.12498V9.74998Z" fill="white"></path>
</svg>
</button>
</form>



                     <p class="pdj">Отправляя заявку, вы соглащаетесь с <a href="{% url 'politika' %}" target="_blank">политикой конфиденциальности сайта</a></p>
                      </div>    
                     </div>

<div class="good" id="good2">
    <img src="{% static 'theme/img/1/Group1818.png' %}" class="goodimg" alt="">
     <h4>ВАША ЗАЯВКА ПРИНЯТА!</h4>

        <div class="stre"></div>
        <p class="p15">В ближайшее время с вами свяжется наш сотрудник для уточнения всех деталей!</p>
        <p class="p15 mt40">С уважением, команда “Территории Недвижимости FQF”</p>
</div>

</section>
<script type="text/javascript">
    $(document).ready(function(){
    $("#fr1").submit(function(e){
      e.preventDefault();
      var $form = $(this);
      $(".btn1").prop('disabled', true);
      $(".btn1").text('Отправляем...');
      var serializedData = $form.serialize();
      var $res_message = $(".porty");
      var $res_message2 = $("#good2");
      
      $.ajax({
          url: '/ajax/',
          type: "POST",
          data: serializedData,
          dataType: 'json',

          success: function (data) {
            if (data.error) {
                  $res_message.text(data.msg);
                  $res_message.show();
            }else{
              $res_message.hide();
              $res_message2.show();
            }
          }
        });
    });
  });
  </script>
                     
                     
                     </div>   
                 </div>
             </div>
         </div>
     </div>
 </section>

 <section id="predlozh" class="pd40 llllf">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h2 class="zagh2">возможно, вам будет полезно</h2>
                      </div>
          </div>
          
          <div class="row">
           <!-- не получилось открыть модалку в слайдере -->
        

          {% for i in usl_best %}

   {% include "parts/usluga.html" %}    


          {% endfor %}



          
          </div>
      </div>
  </section>


  
  <!-- Modal -->
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
       
<form method="POST" id="consult" >
         {% csrf_token %}

              <h4>бесплатная консультация</h4>
        <p class="p15">Отправьте заявку на бесплатную консультацию. Мы ответим на все интересующие вас вопросы.</p>
        <div class="stre"></div>

     {{ form.subject }}
       <div class="form-group">
    {{ form.user }}
        </div>
      <div class="form-group">
     {{ form.phone }}
         </div>
   <p class="polit">Отправляя заявку, вы соглащаетесь с <a href="{% url 'politika' %}" target="_blank">политикой конфиденциальности сайта</a></p>
   

    <div class="form-group">
        
            <button type="submit" class="btn1">Отправить <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.25 10.875V1.12498C0.25 0.849981 0.3625 0.640481 0.5875 0.496481C0.8125 0.352981 1.05 0.33123 1.3 0.43123L12.85 5.30623C13.1625 5.44373 13.3187 5.67498 13.3187 5.99998C13.3187 6.32498 13.1625 6.55623 12.85 6.69373L1.3 11.5687C1.05 11.6687 0.8125 11.6467 0.5875 11.5027C0.3625 11.3592 0.25 11.15 0.25 10.875ZM1.75 9.74998L10.6375 5.99998L1.75 2.24998V4.87498L6.25 5.99998L1.75 7.12498V9.74998Z" fill="white"/>
</svg>
</button>
        
    </div>
 
</form>




<div class="good" id="good12">
    <img src="theme/img/1/Group1818.png" class="goodimg" alt="">
     <h4>ВАША ЗАЯВКА ПРИНЯТА!</h4>

        <div class="stre"></div>
        <p class="p15">В ближайшее время с вами свяжется наш сотрудник для уточнения всех деталей!</p>
        <p class="p15 mt40">С уважением, команда “Территории Недвижимости FQF”</p>
</div>


        
        
      </div>
       </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
    $("#consult").submit(function(e){
      e.preventDefault();
      var $form = $(this);
      $(".btn1").prop('disabled', true);
      $(".btn1").text('Отправляем...');
      var serializedData = $form.serialize();
      var $res_message = $("#consult");
      var $res_message2 = $("#good12");
      
      $.ajax({
          url: '/ajax2/',
          type: "POST",
          data: serializedData,
          dataType: 'json',

          success: function (data) {
            if (data.error) {
                  $res_message.text(data.msg);
                  $res_message.show();
            }else{
              $res_message.hide();
              $res_message2.show();
                 setTimeout(function () {
                  window.location.href = "{{ request.path }} "; 
              }, 4000);

            }
          }
        });
    });

  });
  </script>

{% endblock content %}