 <style>
    #filterforms_invest{
            height: 42px;
    line-height: 42px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 10px;
}
    }
</style>
<form method="GET" id="mse2_filters" action="">


 <div class="fler fler_21">
  <fieldset >
    <h4 class="filter_title">Действие</h4>
               <div class="form-group-flex">
                    <select name="deistvie" id="">
 {% for field in form.deistvie %}
  {{ field }}
  {% endfor %}
  </select>
</div>
</fieldset>
           <fieldset >
    <h4 class="filter_title">Тип</h4>
               <div class="form-group-flex">
                    <select name="tipcdelki" id="">
 {% for field in form.tipcdelki %}
  {{ field }}
  {% endfor %}
  </select>
</div>
</fieldset>
  <fieldset >
    <h4 class="filter_title">Кол-во комнат</h4>


               <div class="form-group-flex">

            <select name="colkomnat" id="">
 {% for field in form.colkomnat %}


  {{ field }}

  {% endfor %}
  </select>

</div>

</fieldset>
<fieldset class="mw150">
    <h4 class="filter_title">Площадь, м/кв </h4>


       <div class="flert_flex">
 {% for field in form.min_pl %}

        <div class="form-group-flex">


        {{ field }}

</div>
  {% endfor %}
<div><span>-</span></div>
 {% for field in form.max_pl %}

        <div class="form-group-flex">

        {{ field }}

</div>
  {% endfor %}
</div>

</fieldset>

   <fieldset >
    <h4 class="filter_title">Готовность</h4>
               <div class="form-group-flex">
                    <select name="gotov" id="">
 {% for field in form.gotov %}
  {{ field }}
  {% endfor %}
  </select>
</div>
</fieldset>

   <fieldset >
    <h4 class="filter_title">Другое</h4>
               <div class="form-group-flex">
                    <select name="drugoe" id="">
 {% for field in form.drugoe %}
  {{ field }}
  {% endfor %}
  </select>
</div>
</fieldset>
</div>
  <div class="fler fler_21">

<fieldset class="stoimostknp">
    <h4 class="filter_title">Стоимость, ₽ </h4>

       <div class="flert_flex">

 {% for field in form.min_price %}

        <div class="form-group-flex">


        {{ field }}

</div>
  {% endfor %}
<div><span>-</span></div>
 {% for field in form.max_price %}

        <div class="form-group-flex">

        {{ field }}

</div>
  {% endfor %}

</div>
</fieldset>
    <fieldset class="countryknop">
    <h4 class="filter_title">Страна</h4>
               <div class="form-group-flex">
                    <select name="country" id="">
 {% for field in form.country %}
  {{ field }}
  {% endfor %}
  </select>
</div>
</fieldset>
    <fieldset class="sendknop">
         <h4 class="filter_title">&nbsp;</h4>
   <button type="submit" class="btn btn-danger btn-lg  hidden  btn-lg" id="filterforms_invest">Показать предложения</button>
</fieldset>
</div>
           </form>


     