{% load static %}
<section id="kakrabo" class="pd40">
      <div class="container">
           <div class="row">
              <div class="col-md-12">
                  <h2 class="zagh2">КАК ЭТО ПРОИСХОДИТ</h2>
                      </div>
          </div>

          <div class="row">


              <div class="col-md-4">
                  <div class="blokt">
                      <div class="krug">   <img src="{% static 'theme/img/ic/ik3.png' %}" class="img-fluid" alt="">
</div>
                      <h3>ШАГ 1. ОФОРМИТЕ ЗАЯВКУ</h3>
                      <p>Воспользуйтесь простейшей формой.</p>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="blokt">
                       <div class="krug">
                              <img src="{% static 'theme/img/ic/ik2.png' %}" class="img-fluid" alt="">

</div>
                      <h3>ШАГ 2. ДОЖДИТЕСЬ ОБРАТНОЙ СВЯЗИ</h3>
                      <p>Обсудите все детали в удобном для вас месте</p>
                  </div>
              </div>
               <div class="col-md-4">
                  <div class="blokt">
                              <div class="krug">
                               <img src="{% static 'theme/img/ic/ic1.png' %}" class="img-fluid" alt="">

</div>
                      <h3>ШАГ 3. НАСЛАЖДАЙТЕСЬ РЕЗУЛЬТАТОМ</h3>
                      <p>Наша цель –качественная работа. Сопровождаем
до конечного результата.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>